<!doctype html>
<html>
<head>
	<title>Bridge</title>
	<script data-main='js/main' src='js/libs/require/require.min.js'></script>
	<link href='https://fonts.googleapis.com/css?family=Cabin:400,600' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="images/icon.png">
	<link rel='stylesheet' href='css/template.css'></link>
	<link rel='stylesheet' href='css/desktop.css'></link>
	<link rel='stylesheet' href='css/toastr.css'></link>
	<link rel='stylesheet' href='css/charts.css'></link>
	<link rel='stylesheet' href='css/template.css'>
</head>
<body></body>
</html>